
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
gen/

# Visual Studio Code
.vscode/

# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.pub/
/build/
**/ios/Pods/*
**/ios/.symlinks/*
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/Runner.xcworkspace/contents.xcworkspacedata
**/ios/Runner.xcworkspace/xcshareddata/
**/ios/Runner.xcworkspace/xcuserdata/
**/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
**/android/key.properties
**/android/local.properties
**/android/.gradle/
**/android/app/build/
**/android/build/
**/android/gradle/
**/android/gradlew
**/android/gradlew.bat

# Danger
# It is strongly recommended that you do not check in files that contain sensitive information,
# such as private keys. If you are using Google services, do not check in the service
# account credentials.
#
# See https://flutter.dev/docs/deployment/android#signing-the-app for more details.
/ios/Flutter/flutter_export_environment.sh

# IDE-specific files
/nbproject/private/
/nbproject/project.xml
nbbuild/
nbdist/
.nb-gradle/

# Profiling data
*.snapshot
instrumentation.json

# Web
**/build/web/*
